%%%%
% C.J. May's Resume
%%%%
% Author: C.J. May
% License: CC-BY-4
% - https://creativecommons.org/licenses/by/4.0/legalcode.txt
%%%%

\documentclass[letterpaper,10pt]{article}
\usepackage{resumeconfig}

% Multi-document
\usepackage{subfiles}


%==============%
% Begin Resume %
%==============%

%\numberedPages % NOTE: lastpage requires a second build
%\documentFooter{\thepage of 2} % Does similar without using lastpage
\begin{document}

  %---------%
  % Heading %
  %---------%

  \documentTitle{C.J. May}{
    % Web Version
    %\raisebox{-0.05\height} \faPhone\ [redacted - web copy] ~
    %\raisebox{-0.15\height} \faEnvelope\ [redacted - web copy] ~
    %%
    \href{tel:3199390712}{
      \raisebox{-0.05\height} \faPhone\ 319-939-0712} ~ | ~
    \href{mailto:contact@cjmay.info}{
      \raisebox{-0.15\height} \faEnvelope\ contact@cjmay.info} ~ | ~
    \href{https://linkedin.com/in/cj-may/}{
      \raisebox{-0.15\height} \faLinkedin\ linkedin.com/in/cj-may} ~ | ~
    \href{https://github.com/lawndoc}{
      \raisebox{-0.15\height} \faGithub\ github.com/lawndoc} ~ | ~
    \href{https://cjmay.info}{
      \raisebox{-0.15\height} \faGlobe\ cjmay.info}
  }

  %---------%
  % Summary %
  %---------%

  \tinysection{Summary}
  \subfile{subfiles/{{ summary_path | default("default_summary", true) }}}

  %-----------------------%
  % Skills and Technology %
  %-----------------------%

  \section{Skills \& Technology Stacks}

  \begin{multicols}{2}
    \begin{itemize}[itemsep=-2px, parsep=1pt, leftmargin=75pt]
      \subfile{subfiles/{{ skills_path | default("default_skills", true) }}}
    \end{itemize}
  \end{multicols}

  %-------------------------%
  % Professional Experience %
  %-------------------------%

  \section{Professional Experience}

  \headingBf{Vermeer Corporation}{May 2018 -- Present}
  \headingIt{IT Cybersecurity Architect}{}
  \begin{resume_list}
    \subfile{subfiles/{{ vermeer_path | default("experience/vermeer/default_combined", true) }}}
  \end{resume_list}

  %--------------------%
  % Thought Leadership %
  %--------------------%

  \section{Architectural \& Thought Leadership}
  
  \begin{resume_list}
    \subfile{subfiles/{{ thought_leadership_path | default("experience/default_thought_leadership", true) }}}
  \end{resume_list}

  %------------------------%
  % Education and Projects %
  %------------------------%

  \section{Education \& Projects}

  \headingBf{University of Northern Iowa}{}  % Note: Adding year(s) exposes an implied age
  \headingIt{Bachelor of Science in Computer Science (3.97 GPA)}{}

  \headingBf{Homelab \& Infrastructure}{}
  \begin{resume_list}
    \subfile{subfiles/{{ homelab_path | default("experience/default_homelab", true) }}}
  \end{resume_list}

\end{document}
